body
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex-grow: 1;
}

@media all and (min-width: 700px)
{
	body
	{
		align-items: center;
	}

	form
	{
		padding-top: 40px;
	}

	#first
	{
		padding-bottom: 20px;
	}
}

@media all and (min-height: 350px)
{
	footer
	{
		position: absolute;
		bottom: 0%;
		left: 2%;
	}
}

#first
{
	font-size: 20px;
}

img
{
	padding-left: 20px;
}

.center
{
	display: inline;
}

#mapid
{
	height: 300px;
}
