@font-face {
    font-family: "VAG-HandWritten-webfont";
    src: url("VAG-HandWritten-webfont.eot") format("eot"),
         url("VAG-HandWritten-webfont.woff") format("woff"),
         url("VAG-HandWritten-webfont.ttf") format("truetype"),
         url("VAG-HandWritten-webfont.svg") format("svg");
}

html 
{
    position: relative;
    min-height: 100%;
}

h1
{
	font-family: VAG-HandWritten-webfont, sans-serif;
}

#header
{
	padding-top: 20px;
}

#logo
{
	padding-bottom: 20px;
	padding-left: 20px;
}

header
{
	background-color: #B6DDFF;
	color: #FFFFFF;
	text-align: center;
	padding-bottom: 20px;
}

.center
{
	display: inline;
}

#send
{
	height: 40px;
	width: 70px;
	border-radius: 10px;
}

#first
{
	font-size: 20px;
}

#gitlogo
{
	padding-left: 10px;
}

input
{
	border-radius: 5px;
}

#answer
{
	height: 300px;
	text-align: justify;
	overflow: auto;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #DBEEFF;
}

#mapid
{
	height: 300px;
	width: 250px;
}

footer 
{
	position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #B6DDFF;
}

#footer
{
	margin-left: 40px;
	margin-top: 10px;
	font-family: VAG-HandWritten-webfont, sans-serif;
	color: #FFFFFF;
	font-size: 20px;
}

@media all and (min-width: 992px)
{
	#mapid
	{
		height: 300px;
		width: 992px;
	}
}

@media all and (min-width: 768px)
{
	#answer
	{
		width: 700px;
	}

	#mapid
	{
		width: 768px;
	}
}

@media all and (min-width: 576px)
{
	#mapid
	{
		width: 550px;
	}

	#answer
	{
		width: 550px;
	}
}